{% extends 'layouts/base.html' %}

{% load widget_tweaks %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-10 border border-gray-200 rounded-xl shadow-xl">
    <h2 class="text-3xl font-semibold mb-8 text-center text-gray-800">Change Password</h2>
    <form method="post" class="space-y-6">
        {% csrf_token %}
        {% for field in form %}
            <div class="flex flex-col">
                <label for="{{ field.id_for_label }}" class="mb-2 text-sm font-medium text-gray-600">{{ field.label }}</label>
                {{ field|add_class:"w-full p-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500" }}
                {% if field.errors %}
                    <div class="mt-1 text-red-600 text-sm">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div>
            <button type="submit" class="w-full bg-blue-500 text-white py-3 rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2">
                Change Password
            </button>
        </div>
    </form>
</div>
{% endblock %}
